version: "2.4"

services:

  dev:
    image: 16nsk/devcontainers
    command: sleep infinity
    volumes:
      - projects:/projects
    ports:
      - "${APP_PORT:-8000}:8000"
    cpu_count: 2
    mem_limit: 4000000000
    mem_swappiness: 0

  # maria:
  #   image: mariadb:10
  #   environment:
  #     - MYSQL_ROOT_PASSWORD=root
  #     - MYSQL_DATABASE=developer
  #     - MYSQL_USER=developer
  #     - MYSQL_PASSWORD=developer
  #   volumes:
  #     - mariadb:/var/lib/mysql
  #   ports:
  #     - "${FORWARD_DB_PORT:-3306}:3306"
  #   cpu_count: 1
  #   mem_limit: 1000000000
  #   mem_swappiness: 0

  # This is Postgresql with Postgis preenabled
  # postgres:
  #   image: postgis/postgis:13-3.1-alpine
  #   environment:
  #     - POSTGRES_PASSWORD=developer
  #     - POSTGRES_USER=developer
  #     - POSTGRES_DB=developer
  #     - PGDATA=/var/lib/postgresql/data/pgdata
  #   ports:
  #     - "${FORWARD_DB_PORT:-5432}:5432"
  #   volumes:
  #     - postgres:/var/lib/postgresql/data
  #   cpu_count: 1
  #   mem_limit: 1000000000
  #   mem_swappiness: 0

  # elasticsearch:
  #   image: elasticsearch:7.14.0
  #   environment:
  #     - discovery.type=single-node
  #   ports:
  #     - "${FORWARD_ES_PORT:-9200}:9200"
  #   volumes:
  #     - elasticsearch:/usr/share/elasticsearch/data
  #   cpu_count: 1
  #   mem_limit: 2000000000
  #   mem_swappiness: 0

  # redis:
  #   image: redis:6-alpine
  #   volumes:
  #     - redis:/data
  #   command: redis-server --appendonly yes
  #   cpu_count: 1
  #   mem_limit: 500000000
  #   mem_swappiness: 0

  # mailhog:
  #   image: mailhog/mailhog
  #   ports:
  #     - "${FORWARD_MAILHOG_PORT:-8025}:8025"
  #   cpu_count: 1
  #   mem_limit: 500000000
  #   mem_swappiness: 0

  # adminer:
  #   image: adminer
  #   environment:
  #     - ADMINER_DEFAULT_SERVER=maria
  #   ports:
  #     - "${FORWARD_ADMINER_PORT:-8080}:8080"
  #   cpu_count: 1
  #   mem_limit: 500000000
  #   mem_swappiness: 0

volumes:
  projects:
  # maria:
  # postgres:
  # redis:
  # elasticsearch:
