name: buildx

on:
  schedule:
    - cron:  '30 2 * * 6'
  push:
    branches: master

jobs:
  buildx:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -  
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Generate bake file
        run: |
          cat <<'EOF' > docker-bake.hcl
          group "default" {
              targets = [
                  "7.2-10",
                  "7.1-8",
                  "7.0-6"
              ]
          }

          target "default" {
              context="."
              dockerfile="Dockerfile"
              platforms = [
                  "linux/amd64",
                  "linux/arm64"
              ]
          }
          
          target "7.2-10" {
              inherits=["default"]
              tags = [
                  "16nsk/devcontainers:latest",
                  "16nsk/devcontainers:7.2-10",
              ]
              args = {
                  PHP_VERSION="7.2",
                  NODE_VERSION="10"
              }
          }
          
          target "7.1-8" {
              inherits=["default"]
              tags = [
                  "16nsk/devcontainers:7.1-8",
              ]
              args = {
                  PHP_VERSION="7.1",
                  NODE_VERSION="8",
              }
          }
          
          target "7.0-6" {
              inherits=["default"]
              tags = [
                  "16nsk/devcontainers:7.0-6",
              ]
              args = {
                  PHP_VERSION="7.0",
                  NODE_VERSION="6",
              }
          }
          EOF
      -
        name: Build and push
        uses: docker/bake-action@master
        with:
          push: true
          files: docker-bake.hcl
